

@keyframes test {
  from { height: 500px}
  to { height: 100px}
}

.allCards {
  /* margin: 40px; */
  /* background-color:  rgb(238, 228, 228); */
  padding: 40px;
  /* display: flex; */
}

.allSchoolCards {
  margin: 20px;
  margin-left: 10%;
  margin-right: 10%;
  height: 100vh;
  display: flex;
  justify-content: space-around;
}

/* .animatedCard { */
  /* animation-name: test; */
  /* animation-duration: 3s; */
  /* height:100px; */
/* } */

.homepage {
  background-image: url('./images/background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  background-position: center;
}

.carouselImg {
  width: 300px;
  height: 300px;
  padding: 10px;

}

@media only screen and (min-width: 992px){
  .carouselImg {
    width: 500px;
    height: 500px;
    padding: 10px;
  }
}

.carousel-item > img {
  /* width: 100% */
  margin: auto;
  display: flex;
  justify-content: center;
}

.homepageCard {
  margin-top: 8%;
  margin-left: 20%;
  position: fixed !important;
  width: 30vw;
  height: 50vh;
  opacity: .5;
  padding: 10px;
}

.myCarousel {
  padding: 10px;
}

.navBar {
  background-color: rgb(5, 5, 39);
 letter-spacing: 1px;
  font-weight: 700;
}

.navItem {
  display: flex;
}

.navItems {
  display: flex;

}

.navLinks {
  color: rgb(228, 210, 210);
}

.schoolDiv {
  border-style: ridge;
  height: 80vh;
  width: 25vw;
}

.schoolImg {
  padding: 15px;
  width: inherit;
  
}

.volunteerStuff{
  display: flex;
}

.volunteerText {
  padding: 20px;
}

.workImg {
  padding-bottom: 20px;
}